<div class="menu-bar">
    <img src="assets\Left Side - wrench handle 061025 3a.png" class="menu-edge" alt="MenuBarLeftTile" width="345" height="374">
    <div class="menu-bar-center">
      <img src="assets\Left Side - wrench head 061025 3a.png" class="menu-bracket-left" alt="MenuBarLeft" width="293" height="374">
      <img src="assets\BST logo 0601025 2b.png" class="menu-logo" alt="MenuBarLogo" width="374" height="374">
      <img src="assets\Right Side - wrench head 061025 3a.png" class="menu-bracket-right" alt="MenuBarRight" width="382" height="374">
    </div>
    <img src="assets\Right Side handle - wrench 0610225 3a.png" class="menu-edge" alt="MenuBarRightTile" width="260" height="374">
</div>
